@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    max-height: 100vh;
    max-width: 100vw;
}

.first-section{
    padding: 50px;
    padding-top: 20px;
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin-bottom: 50px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.list{
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin-left: auto;
}

.title{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.text, .img-placeholder, a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover{
    cursor: pointer;
    color: lightblue;
}

.text{
    line-height: 25px;
    flex: 0;
    margin-top: auto;
}

h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.content, .img-placeholder{
    flex: 1;
    height: 250px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 35px;
}

.btn-1{
    padding: 8px 16px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    margin-top: auto;
}

.btn-1:hover{
    cursor: pointer;
    color: white;
    background-color: lightblue;
}

.title-two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.box{
    height: 130px;
    width: 130px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.boxes{
    display: flex;
    margin: 50px 80px;
    justify-content: space-around;
    align-items: center;
}

.box-text{
    text-align: start;
    font-size: 15px;
    width: 130px;
    font-weight: 600;
    color: darkgray;
    margin-top: 8px;
}

span{
    display: block;
    text-align: center;
}

.third-section{
    margin-top: 50px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    padding: 80px 115px 0 115px;
}

.author{
    text-align: end;
    padding-right: 135px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 900;
}

.fourth-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 80px;
    padding: 30px;
    background-color: #3882f6;
    border-radius: 10px;
}

.info{
    color: white;
    display: flex;
    flex-direction: column;
}

.call{
    font-size: 20px;
    font-weight: bold;
}

.btn-2{
    padding: 8px 16px;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    color: #e5e7eb;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    margin-top: auto;
}

.btn-2:hover{
    cursor: pointer;
    color: #3882f6;
    background-color:white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    font-weight: 700;
}